:root {
  --bg-color: #000028;
  --title-color : #DB00FF;
  --font-color: #F1B2CE;
  --accent-color: #FF0070;

  --font-family-main: 'IBM Plex mono';
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  --line-height-main: 23.4px;
  --line-height-title: 82.5%;
  --font-size-main: 18px;

  --header-height: 668px;

  --padding-main: 10px;
}

.page {
  font-family: var(--font-family-main), sans-serif;
  background-color: var(--bg-color);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  padding: var(--padding-main);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: var(--header-height);
  background: url("../images/cover-image-dark.png") center/cover no-repeat;
}

/* .decorated-zone::before {
  content: "";
  background-color: greenyellow;
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 10px;
  aspect-ratio: 1;
} */

.header__dark-mode-element {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__dark-mode-element::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  height: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-self: right;
  margin-block-start: 63px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: transparent;
  color: var(--accent-color);
  font-weight: var(--font-weight-normal);
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--line-height-title);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 8px;
  justify-self: start;
}

.header__question {
  font-size: var(--font-size-main);
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  height: min-content;
  margin-block-start: 30px;
}
