:root {
  --bg-color: #000028;
  --title-color : #DB00FF;
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --text-shadow: 4px 4px 0 var(--accent-color);

  --bg-cover-image: url("../images/cover-image-dark.png") center/cover no-repeat;

  --font-family-main: 'IBM Plex mono';
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  --line-height-main: 130%;
  --line-height-title: 82.5%;
  --font-size-main: 18px;

  --padding-main: 10px;
}

.page {
  font-family: var(--font-family-main), sans-serif;
  background-color: var(--bg-color);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background: var(--bg-cover-image);
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--padding-main);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  height: 25px;
  aspect-ratio: 1;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  height: 25px;
  aspect-ratio: 1;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__dark-mode-element {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__dark-mode-element::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  height: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-self: right;
  margin-block-start: 63px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: transparent;
  color: var(--accent-color);
  font-weight: var(--font-weight-normal);
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--line-height-title);
  color: var(--title-color);
  text-shadow: var(--text-shadow);
  padding-block-start: 13px;
  justify-self: start;
}

.header__question {
  font-size: var(--font-size-main);
  color: var(--bg-color);
  font-weight: var(--font-weight-bold);
  margin-block-start: 44px;
}

.title-decore {
  font-size: var(--font-size-main);
  height: min-content;
  background-color: var(--accent-color);
}

.hard-to-concentrate {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
  padding-inline: var(--padding-main);
}

.decrease-of-concentrate {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 50px;
  padding-inline: var(--padding-main);
}

.advices-for-concentrate {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 50px;
  padding-inline: var(--padding-main);
}

.section-title-decore {
  font-size: var(--font-size-main);
  color: var(--accent-color);
}

.text-decore {
  color: var(--font-color);
}

.advices-for-concentrate__advice {
  font-weight: var(--font-weight-normal);
}

.text-link {
  --text-shadow: 2px 2px 0 var(--accent-color);
  text-shadow: var(--text-shadow);
}

.margin-m {
  margin-block-end: 20px;
}

.margin-s {
  margin-block-end: 10px;
}

.pictures {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  margin-block-start: 50px;
  padding-inline: var(--padding-main);
}

.pictures__image {
  color: var(--font-color);
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 40px;
}